.menu
  = render "header"
  .menu_box
    .menu_box_search
      %input.menu_box_search_text{type: "text", placeholder: "料理"}
      %input.menu_box_search_submit{type: "submit",value: "検索"}
  .menu_titel
    %p 新規登録レシピ
  .menu_list
    .menu_list_name
      チャーハン
    .menu_list_name
      焼き飯
    .menu_list_name
      五目ご飯
    .menu_list_name
      天津飯
  .menu_content
    .menu_content_view
      = link_to "#" do
        .menu_content_view_image
    .menu_content_view
      = link_to "#" do
        .menu_content_view_image
    .menu_content_view
      = link_to "#" do
        .menu_content_view_image
    .menu_content_view
      = link_to "#" do
        .menu_content_view_image